<div class="flex min-h-screen items-center justify-center bg-gray-100">
  <p-card class="w-96 shadow-lg">
    <div class="text-center text-2xl font-bold mb-6">Iniciar Sesión</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700 mb-1"
          >Correo Electrónico</label
        >
        <input
          id="email"
          type="email"
          pInputText
          formControlName="email"
          placeholder="admin@example.com"
          class="w-full"
        />
        @if (email?.invalid && email?.touched) {
          <div class="text-sm text-red-500 mt-1">
            @if (email?.errors?.['required']) {
              <span>El correo es obligatorio</span>
            }
            @else if (email?.errors?.['email']) {
              <span>El formato del email no es valido</span>
            }
            @else if (email?.errors?.['maxlength']) {
              <span>El nombre no puede superar los 150 caracteres</span>
            }
          </div>
        }
      </div>

      <!-- Contraseña -->
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium text-gray-700 mb-1"
          >Contraseña</label
        >
        <p-password
          id="password"
          formControlName="password"
          toggleMask="true"
          feedback="false"
          placeholder="Ingrese su contraseña"
          fluid
        />
        @if (password?.invalid && password?.touched) {
          <div class="text-sm text-red-500 mt-1">
            @if (password?.errors?.['required']) {
              <span>La contraseña es obligatoria</span>
            }
            @else if (password?.errors?.['maxlength']) {
              <span>La contrasena supera la longitud permitida.</span>
            }
          </div>
        }
      </div>

      <!-- Botón de envío -->
      <div class="flex justify-center items-center">
        <p-button
          type="submit"
          label="Iniciar Sesión"
          icon="pi pi-user"
          iconPos="right"
          [loading]="authStore.loading()"
          [disabled]="loginForm.invalid"
          class="w-full"
          fluid
        />
      </div>

      <!-- Enlace a registro -->
      <div class="mt-4 text-center text-sm text-gray-600">
        ¿No tienes cuenta?
        <a routerLink="/auth/register" class="text-blue-600 hover:underline cursor-pointer">Regístrate aquí</a>
      </div>
    </form>
  </p-card>
</div>
